.hero {
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;

 
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.hero h1,
.hero p {
  position: relative;
  z-index: 1;
}
.hero-content {
  text-align: center;
  color: white;
}

.hero-prev,
.hero-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 80px;

  border: none;
  background: #c59d4c;
  color: white;

  cursor: pointer;
  z-index: 5;
}

.hero-prev {
  left: 0;
}

.hero-next {
  right: 0;
}